/grSilverSmelt/data/
/grSilverSmelt/gssVersions/*
/grSilverSmelt/gssModel/
/grSilverSmelt/documents/
.Rhistory
/grSilverSmelt/initialize/gssCatchByArea.R
/grSilverSmelt/initialize/compareSprAutSurveys.R
/grSilverSmelt/setup/vbParams.R
/grSilverSmelt/initialize/checkSurveyBiomass.R
/grSilverSmelt/setup/functions/*
/grSilverSmelt/setup/gssResults.Rmd
/capelin/capModel/*
/capelin/data/*
/capelin/capVersions/*
/atlantis/cod/codVersions/*
/atlantis/cod/codModel/*
/atlantis/atlantisInfo/*
modelRunProtocol.txt
/template/
/atlantis/codeFromErla/*
/atlantis/sppTemplate/*
/atlantis/cod/modelCheck/*
/atlantis/cod/setup/copyModel.sh
/atlantis/cod/setup/itterfitter.sh
