/grSilverSmelt/data/
/grSilverSmelt/gssVersions/*
/grSilverSmelt/gssModel/
/grSilverSmelt/documents/
.Rhistory
/grSilverSmelt/initialize/gssCatchByArea.R
/grSilverSmelt/initialize/compareSprAutSurveys.R
/grSilverSmelt/setup/vbParams.R
/grSilverSmelt/initialize/checkSurveyBiomass.R
/grSilverSmelt/setup/functions/*
/grSilverSmelt/setup/gssResults.Rmd
/capelin/capModel/*
/capelin/data/*
/capelin/capVersions/*
/atlantis/cod/codVersions/*
/atlantis/cod/codModel/*
/atlantis/atlantisInfo/*
modelRunProtocol.txt
/template/
/atlantis/codeFromErla/*
/atlantis/sppTemplate/*
/atlantis/cod/modelCheck/*
/atlantis/cod/setup/copyModel.sh
/atlantis/cod/setup/itterfitter.sh
atlantis/cod/age0.1model/
atlantis/haddock/age0.1model/
atlantis/cod/age5yrModel/
atlantis/haddock/age5yrModel/
atlantis/cod/noAgeModel/
atlantis/haddock/noAgeModel/
atlantis/haddock/hadModel/
atlantis/haddock/hadVersions/
atlantis/cod/dataPoorModels/
atlantis/haddock/dataPoorModels/
atlantis/cod/codModelTemp/
atlantis/functions/pauls.gadget.test.skeleton.R
atlantis/functions/testSkeletonFunctions.R
atlantis/haddock/mPlot.pdf
atlantis/haddock/setup/hadTracerResults.html
atlantis/haddock/functions/paulsGadgetPrintfile.R
atlantis/haddock/simModel/
atlantis/haddock/setup/setupSim/
atlantis/OutM45BioV158FMV79_PF
functions/ricker.R
atlantis/cod/codSpawn/
atlantis/cod/codSpawnTemp/
gadgetTest/zbraModel
